/* style.css */

#timeline {
  width: 600px;
  margin: 0 auto;
}

.tweet {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.tweet .body {
  font-size: 14px;
}

.tweet .username {
  font-size: 12px;
  color: #999;
}

#loading {
  width: 100%;
  text-align: center;
}

